.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.fi-br-cross {
    display: none;
}

.checkbox:checked~.fi-br-menu-burger {
    display: none;
}

.checkbox:checked~.fi-br-cross {
    display: block;
    color: #ffff;
}

.checkbox:checked~.dashboard-container {
    display: block;
}

.checkbox,
.icons {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.icons {
    pointer-events: none;
    font-size: 24px;
}

.checkbox {
    opacity: 0;
}


.dashboard-container {
    display: none;
    transition: 25ms;
}

@media (min-width: 865px) {

    .checkbox,
    .icons {
        display: none;
    }

    .dashboard-container {
        display: flex;
    }


}

.truck {
    padding-left: 4rem;
}

.name {
    margin-left: 2rem;
}


@media (max-width: 768px) {
    .images {
        display: none;
    }

}

@media (min-width: 768px) {
    .truck {
        margin-left: -4rem;
    }
}

#map {
    border-radius: 20px; /* Ajusta el valor de 10px según tus preferencias */
    margin-top: 40px;
    
    
}

@media (max-width: 889px) {
    
    #map{
        margin-right: 1.5rem;
    }
    
}

.main {
    margin-left: 2rem;
}